* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif; 
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #f8f9fa;
    align-items: center;
    padding: 20px 180px;
    width: 100%;
}


.logo img {
    height: 40px; 
    width: auto;
    display: block;
}

ul {
    display: flex;
    list-style: none;
    width: 400px;
    gap: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
}

a {
    text-decoration: none;
    color: #374151;     
    font-size: 16px;       
    font-weight: 500;      
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/banner.jpg');
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    justify-content: center;
    align-items: center;

}
header .header-content {
    color: white;
    text-align: center;
    display: grid;
    gap: 20px;
    margin-top: 20%;
}
.btnA{
    margin-top: 25%;
    margin-left: 40%;

}


.speakers-section {
    background-color: #fff;
    color: #000;
    padding: 60px 20px;
    border-radius: 10px;
    width: 100%;
     max-width: 1200px;
    margin: 0 auto; 
}

    

.section-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

.speakers-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    align-items: center;
}

.speaker-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.speaker-image {
    width: 100%;
    height: auto;
}

.speaker-details {
    padding: 20px;
}

.speaker-topic {
    color: blue;
    font-weight: bold;
    margin-bottom: 5px;
}

.speaker-name {
    margin-top: 0;
    margin-bottom: 10px;
}

.speaker-title {
    color: #555;
    margin-bottom: 0;
}